<style>
  
  #header{
  display:inline;

}

#header-img{
  width:30%;
  height: auto;
}

.nav-link{float: right;
  margin-right:40px;
  margin-left:60px;
  
}

#p{
  text-align: center;
  font-weight:bold;
  font-size:40px;
}

#form{
 DISPLAY:block; 
}

#email{
  width:350px;
  height:30px;
  position:relative;
  left: 500px;
  right:500px;
  text-align:center;
}

#submit{
  back-ground-color:yellow;
   width:200px;
  height:25px;
  position:relative;
  left: 570px;
  right:00px;
  top:15px;
  text-align:center;
  display:block;
}

#numone{
  font-weight:bold;
  font-size:25px;
  position:relative;
  top:70px;
  left:400px;
}

#numtwo{
  text-align:center;
  font-size:18px;
  position:relative;
  left:400px;
  top:50px;
}

#vid{
  position:relative;
  top:150px;
  left:0px;
}

#box1{

  background-color: transparent;
  width:250px;
  height:300px;
  text-align:center;
  border-style:solid;
  border-width:2px;
  border-color:black;
  position:relative;
  top:250px;
  right:-300px;
  font-size:20px;
  line-height:35px;
}
#box2{

  background-color: transparent;
  width:250px;
  height:300px;
  text-align:center;
  border-style:solid;
  border-width:2px;
  border-color:black;
  position:relative;
  top:250px;
  right:-300px;
  font-size:20px;
  line-height:35px;
}
#box3{
  background-color: transparent;
  width:250px;
  height:300px;
  text-align:center;
  border-style:solid;
  border-width:2px;
  border-color:black;
  position:relative;
  top:250px;
  right:-300px;
  font-size:20px;
  line-height:35px;
  
}
#div{
  display: flex;
  grid-column-gap: 40px;
  justify-self:center;
}

#div2{
  width:250px;
  height:50px;
  background-color:grey;
  font-size:35px;
}

#submit2{
  background-color:yellow; 
  border-style:solid;
  position:relative;
  top:30px;
}

#last-div{
  display:block;
}

#footer{
  position:relative;
  top:350px;
  left:1000px;
  
}
  
  </style>
