

video {
  max-width: 100%;
  height: auto;
  }
  
  #header{
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 00px 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  z-index: 10;
  }
  
  
  
  #header-img{position: relative;left: -200px;top: 20px;
  width:30%;
  height: auto; border-radius: 0%;
  }
  
  
  .nav-link1{position: relative; left:47%; top: 20px;
  margin-right:40px;
  margin-left:60px;
  
  }
  
  .nav-link2{position: relative; left:45%; top: 20px;
  margin-right:40px;
  margin-left:60px;
  
  }.nav-link3{position: relative; left:40%;top: 20px;
  margin-right:40px;
  margin-left:60px;
  
  }
  
  #p{position: absolute;left: 480px;top: 100px;
  font-weight:bold;
  font-size:25px;
  }
  
  #form{
  position: absolute;left: 550px; top: 150px; 
  }
  
  #email{
  width:350px;
  height:30px;
  position:absolute;
  left: 580px;
  top:170px;
  text-align:left;
  }
  
  #submit{
  background-color:whitesmoke;
   width:200px;
  height:25px; font-weight: 800; 
  background-color: yellow;
  position:absolute;
  left: 650px; border: 0ch;
  top:215px;text-align:center;
  display:block;
  }
  
  
  #numone1{
  font-weight:bold;
  font-size:25px;
  position: absolute;
  top:320px;
  left:500px;
  }
  #numtwo1{
  text-align:center;
  font-size:14px;
  position: absolute;;
  left:500px;
  top:380px;
  }
  #numone2{
  font-weight:bold;
  font-size:25px;
  position: absolute;
  top:420px;
  left:500px;
  }
  #numtwo2{
  text-align:center;
  font-size:14px; text-align: left;
  position: absolute;;
  left:500px;
  top:480px;
  }
  #numone3{
  font-weight:bold;
  font-size:25px;
  position: absolute;
  top:525px;
  left:500px;
  }
  
  
  #numtwo3{
  text-align:center;
  font-size:14px;
  position: absolute; text-align: left;
  left:500px;
  top:585px;
  }
  
  #vid{
  position: absolute;
  top:700px;
  left:450px;
  }
  
  #box1{
  
  background-color: transparent;
  width:250px;
  height:300px;
  text-align:center;
  border-style:solid;
  border-width:2px;
  border-color:black;
  position:absolute;
  top:1100px;
  left: 320px;
  font-size:20px;
  line-height:35px;
  }
  #box2{
  
  background-color: transparent;
  width:250px;
  height:300px;
  text-align:center;
  border-style:solid;
  border-width:2px;
  border-color:black;
  position:absolute;
  top:1100px;
  left: 610px;
  font-size:20px;
  line-height:35px;
  }
  #box3{
  background-color: transparent;
  width:250px;
  height:300px;
  text-align:center;
  border-style:solid;
  border-width:2px;
  border-color:black;
  position:absolute;
  top:1100px;
  left:900px;
  font-size:20px;
  line-height:35px;
  
  }
  #div{
  display: flex;
  grid-column-gap: 40px;
  justify-self:center;
  }
  
  #div2{
  width:250px;
  height:50px;
  background-color:grey;
  font-size:35px;
  }
  
  #submit2{
  background-color:yellow; 
  border-style:solid;
  position:relative;
  top:30px;
  border-radius: 5px;
  width: 150px;
  position: relative;
  top: 15px;
  }
  
  #last-div{
  display:block;
  }
  
  #footer{
  position:absolute;
  top:1650px;
  left:1000px;
  
  }
  
  #di{
  width: 1500px; height: 1700px;
  background-color: antiquewhite;
  }
  
  
  /*
  @media only screen and (max-width: 600px) {
    #di {
      background-color: lightblue;
    }
  }
  */